<% include partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 info">
            <ul class="suggestions">
                <h4>Similar Queries</h4>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
            </ul>
            <ul class="forumAnswers">
                <h4>Similar Forum Answers</h4>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
                <li>Lorem ipsum lorem ipsum</li>
            </ul>
        </div>
        <div class="col-sm-6 chatbox">
            
        </div>
        <div class="col-sm-3 supportInfo">
            
        </div>
    </div>
</div>

<% include partials/footer %>