<% include partials/header %>

<div id="news-list"></div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% employees.forEach(employee => { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= employee.avatar %>">
                <div class="caption">
                    <h4> <%= `${employee.firstName} ${employee.lastName}` %> </h4>
                    <h6> Rating: <%= employee.rating %> </h6>
                </div>
                <a href='/support/<%= employee._id %>' class="btn btn-success">Chat!</a>
            </div>
        </div>
    <% }) %>
</div>

<% include partials/footer %>
